{% extends "base.html" %}

{% import "bootstrap4/form.html" as wtf %}
{% import "bootstrap4/utils.html" as util %}

{% block title %}Biomappings{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px; margin-bottom: 50px">
        {{ util.render_messages(dismissible=True, container=False) }}
        <div class="row justify-content-md-center">
            <div>
                <div class="card">
                    <h5 class="card-header text-center">
                        Biomappings Curation Interface
                    </h5>
                    <h5 class="card-header text-center">
                        <a class="btn btn-primary btn-sm" style="float: left;"
                           href="/oauth2/{% if controller.logged_in %}sign_out{% else %}sign_in{% endif %}?rd={{ (request.root_url.rstrip("/") ~ url_for_state(".summary", state=state)) | quote_plus }}">
                            {% if controller.logged_in %}Sign out{% else %}Sign in with ORCID{% endif %}
                        </a>
                        <a class="btn btn-primary btn-sm" style="float: right;"
                           href="{{ url_for_state(".home", state=state) }}">
                            Curate
                        </a>
                    </h5>
                    <div class="card-body">
                        <p>
                            <b>Biomappings</b> integrates predicted mappings between identifiers
                            of biological entities from different resources. This is key to data
                            integration across data sets that use different identifiers standards.
                        </p>
                        <p>
                            This website allows <b>reviewing and curating mappings</b> (marking them
                            as correct or incorrect), focusing on mappings that otherwise aren't
                            available from the primary resources in which they are defined, and
                            therefore provide added value for data integration.
                        </p>
                        <p>
                            Start by <b>clicking on the resource</b> for which you want to browse
                            and curate mappings. Each line in the table corresponds to one predicted
                            mapping. <b>After reviewing the mapping, click one of the curation
                            badges</b> on the right to confirm the mapping as correct, broad,
                            narrow, incorrect, or uncertain. To perform curation, you need to <b>log
                            in with your ORCID</b>.
                        </p>
                        <p>

                            At any point, you can then <b>click on Publish pull request</b> which,
                            in the background, submits your proposed curations as a pull request
                            on GitHub (currently to
                            <a href="https://github.com/manselmi/biomappings">manselmi/biomappings</a>,
                            later migrated to
                            <a href="https://github.com/biopragmatics/biomappings">biopragmatics/biomappings</a>).
                        </p>
                    </div>
                    <div>
                        {% set table_width = 6 %}
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center" colspan="{{ table_width }}" scope="colgroup">Select the resource you wish to curate:</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prefix, count, link, display_name, logo_url in rows %}
                            {% if loop.index0 % table_width == 0 %}
                                <tr>
                            {% endif %}
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center" style="height: 100px; padding: 5px;">
                                        {% if logo_url is not none %}
                                            <a href="{{ link }}">
                                                <img style="height: 95px; max-width: 100%; object-fit: contain;"
                                                     src="{{ logo_url }}"
                                                     alt="{{ prefix }}-logo">
                                            </a>
                                        {% endif %}
                                        </div>
                                        <div class="text-center">
                                            <p>
                                                <a href="{{ link }}">{{ display_name }}</a> ({{ "{:,d}".format(count) }})
                                            </p>
                                        </div>
                                    </td>
                            {% if loop.index0 % table_width == table_width - 1 or loop.last %}
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
