{% extends "base.html" %}

{% import "bootstrap4/form.html" as wtf %}
{% import "bootstrap4/utils.html" as util %}

{% block title %}Biomappings Summary{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px; margin-bottom: 50px">
        {{ util.render_messages(dismissible=True, container=False) }}
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-header text-center">
                        Biomappings Curation Interface
                    </h5>
                    <h5 class="card-header text-center">
                        <a class="btn btn-primary btn-sm" style="float: left;"
                           href="/oauth2/{% if controller.logged_in %}sign_out{% else %}sign_in{% endif %}?rd={{ (request.root_url.rstrip("/") ~ url_for_state(".summary", state=state)) | quote_plus }}">
                            {% if controller.logged_in %}Sign out{% else %}Sign in with ORCID{% endif %}
                        </a>
                        <a class="btn btn-primary btn-sm" style="float: right;"
                           href="{{ url_for_state(".home", state=state) }}">
                            Curate
                        </a>
                    </h5>
                    <div class="card-body">
                        <p>
                            This page creates a top-level summary of the current query,
                            broken down by source and target prefixes.
                        </p>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Logo</th>
                            <th scope="col">Prefix</th>
                            <th scope="col">Count</th>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prefix, count, link in rows %}
                            <tr>
                                <td>
                                    {% if path_exists("static/prefix-logos/" ~ prefix ~ ".png") %}
                                    <img src="{{ url_for("static", filename="prefix-logos/" ~ prefix ~ ".png") }}"
                                         alt="{{ prefix }}-logo">
                                    {% endif %}
                                </td>
                                <td>{{ prefix }}</td>
                                <td style="text-align: right;">{{ "{:,d}".format(count) }}</td>
                                <td><a href="{{ link }}">Go!</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
